#piechart{
  margin-left:auto;
	margin-right:auto;
}

.container {
  margin-left:auto;
	margin-right:auto;
}

.col-sm {

}

fieldset
{
    border: solid 1px #000;
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
}
legend
{
    padding:0px 10px;
    color:#FFF;
}
input.add
{
    float:right;
}
input.fieldname
{

    clear:left;
    display:block;
    margin:5px;
}
input.fieldcost
{

    clear:left;
    display:block;
    margin:5px;
}
select.fieldtype
{
    float:left;
    display:block;
    margin:5px;
}
input.remove
{
    float:left;
    display:block;
    margin:5px;
}
#yourform label
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
}
#yourform input, #yourform textarea
{
    float:left;
    display:block;
    margin:5px;
}
